#navbar{
    height: 58px;
    padding: 5px;
    background-color: rgba(15,33,58,0.8);
    clear: right;
    color: white;
}
#header{
    height: auto;
    background: rgba(0,0,0,0.2);
}
#header p{
    margin: 0;
    padding-top: 45px;
    padding-left: 20px;
    font-size: 2.4rem;
    color: white;
    letter-spacing: 7px;
}
#header .heading{
    padding-top: 0;
    padding-bottom: 45px;
}
#body{
    background-color: rgba(15,33,58,0.8);
    margin-bottom: 5px;
    padding:5px;
}
#innerdiv{
    border: 1px solid transparent;
    display: flex;
    border-image: linear-gradient(to bottom, rgba(0,0,0,0), #414D5F);
    border-image-slice: 1;
}
#body div div{
    width: 317px;
    height: fit-content;
    margin: 0;
    padding-bottom: 25px;
}
#body div div img{
    padding-top: 20px;
    padding-bottom: 5px;
    width: 281px;
    height: 121px;
}
.img1, .tile1{
    padding-left: 27px;
    padding-right: 9px;
}
.tile1{
    filter: brightness(200%);
}
.img2{
    padding-right: 18px;
    padding-left: 18px;
}
.img3{
    padding-left: 9px;
    padding-right: 27px;
}
#body div div p{
    margin: 0;
    padding-top: 15px;
    padding-bottom: 20px;
    color: white;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}
#body div div .tile3{
    padding-left: 9px;
    padding-right: 27px;
    padding-bottom: 24px;
}
#body div div a{
    font-size: 14px;
    font-weight: 400;
    color: #9DCCE9;
    border-bottom: 2px solid #9DCCE9;
}
.link1{
    margin-left: 27px;
}
.link2{
    margin-left: 18px;
}
.link3{
    margin-left: 9px;
}
#footer{
    clear: both;
    background-color: #3A588C;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    display: grid;
    align-content: center;
}
#footer p{
    font-size: small;
    color: #CFDCEF;
}
#footer p a{
    border-bottom: 2px solid white;
    margin: 0;
}