#navbar{
    height: 58px;
    padding: 5px;
    background-color: rgba(15,33,58,0.8);
    clear: right;
    margin-bottom: 45px;
    color: white;
}
#navbar ul li .highlight{
    color: white;
    background-color: #486781;
    border-radius: 5px;
}
#serviceinfo{
    padding: 5px;
    background-color: rgba(15,33,58,0.8);
    margin-bottom: 10px;
    height: auto;
}
#innerdiv{
    padding: 30px 25px;
    display: flex;
    height: auto;
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, rgba(0,0,0,0), #414D5F);
    border-image-slice: 1;
}
.images{
    width: 292px;
}
.img2{
    padding: 25px 0;
}
.options{
    width: 277px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 15px;
    padding: 15px 0 20px 0;
}
.options a{
    color: #CFDCEF;
    font-size: 14px;
    padding: 0;
    border-bottom: 2px solid #CFDCEF;
    margin: 10px 0;
}
.info{
    width: 599px;
    padding-left: 10px;
    margin-bottom: 20px;
    align-content: flex-end;
}
.info .heading{
    margin: 0;
    font-size: 20px;
    color: #9DCCE9;
    line-height: 20px;
}
.info p{
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}
.info p a{
    color: #CFDCEF;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 2px solid #CFDCEF;
    margin: 0;
}
.info ul li{
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}
.contact{
    width: 569px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px 0 25px 40px;
    background-color: #10253F;
}
.contact p{
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    padding-bottom: 10px;
}
.contact a{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(#125C75,#10213A);
    margin: 0;
    padding: 5px;
}
#footer{
    clear: both;
    background-color: #3A588C;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    display: grid;
    align-content: center;
}
#footer p{
    font-size: small;
    color: #CFDCEF;
}
#footer p a{
    border-bottom: 2px solid white;
    margin: 0;
}