body{
    margin: 0;
    background-image: url("1.2-ftz/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Trebuchet MS;
}
#container{
    margin: 0 auto;
    width: 951px;
}
span{
    float: right;
    background-color: #3A588C;
    height: 25px;
    text-align: center;
    box-sizing: content-box;
    margin-bottom: 30px;
    align-content: center;
}
a{
    text-decoration: none;
    color: white;
    font-size: small;
    margin: 2px;
}
#middle{
    border-left: 1px solid powderblue;
    border-right: 1px solid powderblue;
    padding: 0 5px;
}
#navbar{
    height: 58px;
    padding: 5px;
    background-color: rgba(15,33,58,0.8);
    clear: right;
    margin-bottom: 45px;
    color: white;
}
#inner{
    height: 56px;
    border: 1px solid #414D5F;
}
#image{
    position: absolute;
    float: left;
    top: 10px;
    padding-left: 15px;
    z-index: 2;
}
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    margin-top: 12px;
    height: 32px;
}
#navbar ul li{
    float: left;
    text-align: justify;
    display: block;
    padding: 4px 0;
    height: 24px;
}
#navbar ul li a{
    color: #9DCCE9;
    font-size: 18px;
    font-weight: normal;
    padding: 4px 15px;
    height: 16px;
    margin: 0;
}
#navbar ul li a:hover{
    color: white;
    background-color: #486781;
    border-radius: 5px;
}
#navbar ul li .mid{
    color: white;
    background-color: #486781;
    border-radius: 5px;
}
#serviceinfo{
    padding: 30px 25px;
    background-image: linear-gradient(rgba(15,33,58,0.8),rgba(15,33,58,1));
    margin-bottom: 10px;
    height: auto;
    display: flex;
}
.images{
    width: 292px;
}
.img2{
    padding: 25px 0;
}
.options{
    width: 277px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 15px;
    padding: 15px 0 20px 0;
}
.options a{
    color: #CFDCEF;
    font-size: 14px;
    padding: 0;
    border-bottom: 2px solid #CFDCEF;
    margin: 10px 0;
}
.info{
    width: 599px;
    padding-left: 10px;
    margin-bottom: 20px;
    align-content: flex-end;
}
.info .heading{
    margin: 0;
    font-size: 20px;
    color: #9DCCE9;
    line-height: 20px;
}
.info p{
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}
.info p a{
    color: #CFDCEF;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 2px solid #CFDCEF;
    margin: 0;
}
.info ul li{
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}
.contact{
    width: 569px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px 0 25px 40px;
    background-color: #10253F;
}
.contact p{
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    padding-bottom: 10px;
}
.contact a{
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(#125C75,#10213A);
    margin: 0;
    padding: 5px;
}
#footer{
    clear: both;
    background-color: #3A588C;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    display: grid;
    align-content: center;
}
#footer p{
    font-size: small;
    color: #CFDCEF;
}
#footer p a{
    border-bottom: 2px solid white;
    margin: 0;
}